html{
    background-image: url('images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

input[type='submit']{
    border: none;
    outline: none;
    border: 2px solid #fafafa;
    background-color: #e74c3c;
    color: #fafafa;
    font-size: 18px;
    font-family: 'Bubblegum Sans', cursive;
    padding: 8px;
    cursor: pointer;
    margin: 10px;
    border-radius: 10px;
}


input[type='submit']:active{
    font-size: 17px;
    border: 3px solid #fafafa;
}

h1{
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-weight: normal;
    font-size: 32px;
    margin-top: 0px;
    color: #fff;
}

.logo{
    text-align: center;
    padding:0px;
    margin: auto;
    margin-bottom: 0px;
    display: block;
}

input{
    outline: none;
    border: none;
}

.container{
    width: 1250px;
    margin: auto;
    font-family: 'Bubblegum Sans', cursive;
    display:flex;
    flex-wrap:wrap;
}

#editor {
    width:500px;
    margin:auto;
    padding:10px;
    border-radius:10px;
    background-color:#333333;
    color:#fafafa;
}

#canvas {
    width:650px;
    margin:auto;
    border:5px double white;
    position: relative;
}

#preview{
    width:100%;
}

.textInput {
    background-color:transparent;
    border-bottom:2px solid white;
    font-size:18px;
    color:#fafafa;
}


.thumbnail {
    width:130px;
    margin-bottom:5px;
    border:2px dashed #fafafa;
    cursor:pointer;
}

.caption{
    position: absolute;
    top:20px;
    left:50px;
    font-size:30px;
    cursor:move;
}

#captionInput{
    width:400px;
    margin-bottom: 20px;
}

#fontSize{
    width:50px;
}

.canvasSticker{
    position: absolute;
    top:20px;
    left:30px;
    cursor: move;
}

.sticker{
    margin:5px;
    cursor: pointer;
    border:2px dashed #333333;
    padding:5px;
}

.sticker:hover{
    border-color:#fafafa;
}

.sticker {
 margin: 5px;
 padding: 5px;
 border: 2px dashed #333333;
 cursor: pointer;
}


#going_home{
    font-weight: 600;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
    text-align: center;
    border: rgb(53, 53, 53) 0.1rem solid;
    text-decoration: none;
    text-align: center;

}